<div class="row">
	<div class="input-field col s10 offset-s1">
        <i class="material-icons prefix">account_circle</i>
       {{input type="text" value=model.meal.name}}
        <label for="icon_prefix">Meal</label>
    </div>
</div>
<div class="row">
	<div class="col s2 offset-s1">
		{{#link-to 'auth.meals' class="waves-effect waves-light btn left red"}}
			 <i class="material-icons right">close</i>
		  Cancel
		{{/link-to}}
	</div>
	<div class="col s4 offset-s4">
		<button {{action 'createFood' model.meal}} class="waves-effect waves-light btn left blue darken-2">
		  <i class="material-icons right">add</i>
		  Create Food
		</button>
		<button {{action 'editMeal' model.meal model.foods}} class="waves-effect waves-light btn right  blue darken-2">
		  <i class="material-icons right">save</i>
		  Update Meal
		</button>
	</div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      {{#each model.foods as |food|}}
          <div class="col s3">
          {{food-card
            food=food
						products=model.products
            deleteFood=(action 'deleteFood' food)
            updateFood=(action 'updateFood' food model.meal)
          }}
            </div>
        {{else}}
          <h5>No foods yet...</h5>
        {{/each}}
    </div>
  </div>
</div>
