
<div class="row">
  <div class="col s10 offset-s1">
    <h3>Meals</h3>
    <form {{action 'createMeal' on="submit"}}>
          Set the name:
          <div class="input-field">
            {{input type="text" value=name}}
            <label>Name</label>
          </div>
      <button class="waves-effect waves-light orange darken-2 btn">Create</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      {{#each model as |meal|}}
        {{#simple-card item=meal as |mealName edit delete|}}
          <div class="col s4">
            <div class="card blue darken-3">
              <div class="card-image">
              <img src="https://vignette.wikia.nocookie.net/spongebob/images/f/f3/Krab_Kean_khan_jaiansnjsjajananahah.jpg/revision/latest?cb=20130225015823">
              <span class="card-title">{{mealName}}</span>
            </div>
              <div class="card-action">
              {{#link-to 'auth.meals.detail' meal.id}}
                {{edit}}
              {{/link-to}}
              <button class="waves-effect waves-light orange darken-2 btn" {{action 'deleteMeal' meal}}>
                {{delete}}
              </button>
              </div>
            </div>
          </div>
        {{/simple-card}}
      {{/each}}
    </div>
  </div>
</div>
